@font-face {
    font-family: 'AbrahamLincoln';
    src: '../fonts/abraham_lincoln/AbrahamLincoln.ttf';
}

@font-face {
    font-family: 'Amatic';
    src: '../fonts/Amatic_SC/AmaticSC-Regular.ttf';
}

@font-face {
    font-family: 'AmaticBold';
    src: '../fonts/Amatic_SC/AmaticSC-Bold.ttf';
}

@font-face {
    font-family: 'Lobster';
    src: '../fonts/Lobster/Lobster-Regular.ttf';
}

@font-face {
    font-family: 'Matiz';
    src: '../fonts/matiz/Matiz.ttf';
}

@font-face {
    font-family: 'MrDafoe';
    src: '../fonts/Mr_Dafoe/MrDafoe-regular.ttf';
}